body {
  color: var(--font-color);
  background-color: var(--primary-color);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

#ghostery-tracker-tally {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.layout {
  padding: 0 25px;
}

.section_header {
  position: relative;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  padding-bottom: 30px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    display: block;
    opacity: 0.3;
    background-color: var(--font-color);
    transform: translateX(-50%);
  }
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: var(--font-family-secondary);
  font-size: clamp(0.75rem, 0.65853656rem + 0.390244vw, 1rem);
  text-transform: uppercase;
  color: var(--third-color);
  border: 1px solid transparent;
  outline: 1px solid rgba(var(--third-color-rgb), .5);
  outline-offset: 0;
  padding: 12px 22px;
  text-shadow: none;
  box-shadow: inset 0 0 20px rgba(var(--third-color-rgb), 0);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  @include hover {
    outline-color: rgba(var(--third-color-rgb), 0);
    outline-offset: 15px;
    box-shadow: inset 0 0 20px rgba(var(--third-color-rgb), .5);
  }
}

.link {
  position: relative;
  background: linear-gradient(to right, var(--third-color), var(--third-color) 50%, var(--font-color) 50%) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  transition: background-position 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-text-fill-color: transparent;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    opacity: 0;
    background-color: var(--third-color);
    transform: translateX(-50%);
    transition: transform 0.2s 0.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @include hover {
    background-position: 0 100%;

    &:after {
      opacity: 1;
      transform: translateX(-50%) translateY(2px);
    }
  }
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 0 50px;
  }

  .container {
    padding: 0 50px;
  }
}