.slide-enter-active {
  transition: all 0.5s  cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-leave-active {
  transition: all 0.5s  cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  transform: translateX(100vw);
}