// SLIDE TOP
.slide-top-enter-active,
.slide-top-leave-active {
  transition: transform 1.5s var(--transition-timing-function), opacity 1.5s var(--transition-timing-function);
}

.slide-top-enter,
.slide-top-leave-to {
  opacity: 0;
  transform: translateY(-200px);
}

// SLIDE RIGHT
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 1.5s 1s var(--transition-timing-function), opacity 1.5s 1s var(--transition-timing-function);
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(200px);
}

// SLIDE BOTTOM
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: transform 1.5s 0.75s var(--transition-timing-function), opacity 1.5s 0.75s var(--transition-timing-function);
}

.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

// SLIDE LEFT
.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 1.5s 1s var(--transition-timing-function), opacity 1.5s 1s var(--transition-timing-function);
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-200px);
}

// SHRINK
.shrink-enter,
.shrink-leave-to {
  opacity: 0;
  overflow: hidden;
  transform: scale(1.15);
}

.shrink-enter-active,
.shrink-leave-active {
  transition: transform 0.5s var(--transition-timing-function), opacity 0.5s var(--transition-timing-function);
}

// BLOG BOTTOM
.blog-bottom-enter-active,
.blog-bottom-leave-active {
  transition: transform 1.5s var(--transition-timing-function), opacity 1s var(--transition-timing-function);
}

.blog-bottom-leave-active {
  position: absolute;
}

.blog-bottom-enter,
.blog-bottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}