// SHRINK
.shrink-enter,
.shrink-leave-to {
  opacity: 0;
  overflow: hidden;
  transform: scale(1.15);
}

.shrink-enter-active,
.shrink-leave-active {
  transition: transform 0.5s var(--transition-timing-function), opacity 0.5s var(--transition-timing-function);
}

// BLOG BOTTOM
.blog-bottom-enter-active,
.blog-bottom-leave-active {
  transition: transform 1.5s var(--transition-timing-function), opacity 1s var(--transition-timing-function);
}

.blog-bottom-leave-active {
  position: absolute;
}

.blog-bottom-enter,
.blog-bottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}