.DS_Store
node_modules
dist
.cache
src/.temp

# Blog
/blog/.obsidian/
/blog/templates/

# local env files
.env
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
