{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "importOrder": [
    "^astro",
    "^@astrojs",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-astro", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false
}
