---
import { getLang, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/layout.astro";
import { proseArticle } from "@/lib/tailwind";
import { getEntry, render } from "astro:content";

const { url } = Astro;
const lang = getLang(url);
const t = useTranslations(lang);

const aboutMe = await getEntry("about-me", `${lang}/o-mnie`);

if (!aboutMe) {
  return Astro.redirect("/404");
}

const { Content } = await render(aboutMe);
---

<Layout title="Hello!" description={t("about-me.seo.description")} image="/og_image.png">
  <article class={proseArticle}>
    <h1 transition:name="routeHeading">Jakub Soboczyński</h1>
    <Content />
  </article>
</Layout>
