@keyframes bounce-down {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  10% {
    transform: translateX(-50%) translateY(0);
  }
  30% {
    transform: translateX(-50%) translateY(20px);
  }
  50% {
    transform: translateX(-50%) translateY(0);
  }
  57% {
    transform: translateX(-50%) translateY(0);
  }
  64% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
