@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}