body {
  color: var(--font-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

img {
  width: 100%;
  height: auto;
}

#ghostery-tracker-tally {
  display: none !important;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

.layout {
  padding: 0 25px;
}

.section_header {
  font-family: var(--font-family-secondary);
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  padding-bottom: 30px;
  text-align: center;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 40px;
    height: 1px;
    content: '';
    transform: translateX(-50%);
    opacity: 0.3;
    background-color: var(--font-color);
  }
}

.button {
  font-family: var(--font-family-secondary);
  font-size: clamp(0.75rem, 0.65853656rem + 0.390244vw, 1rem);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 12px 22px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--third-color);
  border: 1px solid var(--third-color);
  background: none;

  &:hover,
  &:focus {
  }

  &:focus {
    outline: 2px dotted var(--third-color);
    outline-offset: 7px;
  }
}

.link {
  position: relative;
  transition: background-position 0.2s;
  background: linear-gradient(to right, var(--third-color), var(--third-color) 50%, var(--font-color) 50%) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    content: '';
    transition: transform 0.2s 0.3s, opacity 0.2s 0.3s;
    transform: translateX(-50%);
    opacity: 0;
    background-color: var(--third-color);
  }

  &:hover,
  &:focus {
    background-position: 0 100%;

    &:after {
      transform: translateX(-50%) translateY(2px);
      opacity: 1;
    }
  }

  &:focus {
    outline: 2px dotted var(--third-color);
    outline-offset: 7px;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 0 50px;
  }

  .container {
    padding: 0 50px;
  }
}