.blogCard {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  transform-origin: center;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: background, transform, box-shadow;

  @include hover {
    box-shadow: 0 2px 0 rgba(var(--third-color-rgb), 0.5);
    transform: scale(1.05) translateY(-10px);
  }

  &__wrapper {
    background-color: var(--secondary-color);
    @include flex-center;
    border-bottom: 2px solid rgba(var(--third-color-rgb), 0.5);
    transition: background var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
    aspect-ratio: 1.8;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__logo {
    opacity: 0.3;

    path {
      transition: stroke var(--transition-duration) var(--transition-timing-function);
      stroke: var(--font-color);
    }
  }

  &__content {
    padding: 20px 20px 30px;
  }

  &__metatags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__category {
    font-family: var(--font-family-secondary);
    color: var(--third-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  &__date {
    opacity: 0.65;
  }

  &__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  &__short {
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@supports not (aspect-ratio: 1 / 1) {
  .blogCard {
    &__wrapper::before {
      float: left;
      padding-top: 55.55%;
      content: "";
    }

    &__wrapper::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}