.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  column-gap: 5px;

  &__separator {
    opacity: 0.4;
  }

  &__item {
    opacity: 0.4;
    padding: 5px 8px;

    &:not(span) {
      @extend .link;
      opacity: 1;

      &:after {
        bottom: 2.5px;
        width: calc(80% - 16px);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .breadcrumbs {
    margin-bottom: 20px;
  }
}