---
import Layout from 'layouts/Layout.astro';
---

<Layout
  title="Nie odnaleziono strony"
  description="Szukana strona nie została znaleziona. Wróć do strony głównej i dowiedz się więcej na mój temat!"
  image="/og_image.png">
  <main>
    <h1>404</h1>
  </main>
</Layout>
