---
import { Icon } from "astro-icon";
import Layout from "layouts/Layout.astro";
---

<Layout title="Welcome to Astro!" description="This is a description for index page" image="/favicon-dark.svg">
  <main>
    <h1>Jakub Soboczyński</h1>
    <p>title</p>
    <img src="/favicon.svg" alt="" />
    <Icon pack="mdi" name="account" size="32" />

    <p>description</p>
    <div class="flex gap-4">
      <a href="https://twitter.com/teziovsky/">follow me on twitter</a>
      <a href="https://jakubsoboczynski.pl">get email updates</a>
      <p></p>
    </div>
  </main>
</Layout>
