---
import Layout from "layouts/Layout.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient, rendererOptions } from "lib/contentful";
import { contentfulArticle } from "lib/tailwind";

const aboutMe = await contentfulClient.getEntry("sRSSrYR7GDzQIMWpnAA8U");
---

<Layout title="Hello!" description="Kilka słów o mnie" image="/favicon-dark.svg">
  <article class={contentfulArticle}>
    <h1>Jakub Soboczyński</h1>
    <Fragment set:html={documentToHtmlString(aboutMe.fields.content, rendererOptions)} />
  </article>
</Layout>
