---
import Layout from "layouts/Layout.astro";
import { contentfulClient } from "lib/contentful";

const aboutMe = await contentfulClient.getEntries({
  content_type: "aboutMe",
  order: "fields.sort",
});
---

<Layout title="Welcome to Astro!" description="This is a description for index page" image="/favicon-dark.svg">
  <main class="">
    <article class="prose prose-violet dark:prose-invert">
      <h1>Jakub Soboczyński</h1>
      <img src="/favicon-dark.svg" class="float-right px-6" alt="" />
      {
        aboutMe.items.map((about) => (
          <>
            <h2>{about.fields.title}</h2>
            <h3>{about.fields.value}</h3>
          </>
        ))
      }
    </article>
  </main>
</Layout>
