html {
  @apply scroll-smooth;
}

body {
  @apply transition-colors bg-primary-light dark:bg-primary-dark text-primary-dark dark:text-primary-light overflow-x-hidden font-primary;

  &.opened {
    @apply overflow-hidden touch-none;
  }
}

a[href]:not(:disabled),
area[href] input:not(:disabled),
select:not(:disabled),
textarea:not(:disabled),
button:not(:disabled),
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([tabindex="-1"]) {
    @apply focus-visible:outline-offset-2 focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-accent-light dark:focus-visible:outline-accent-dark;
  }
}

a {
  @apply cursor-pointer no-underline text-primary-dark dark:text-primary-light transition-colors;
}

button {
  @apply cursor-pointer bg-none border-none outline-none text-primary-dark dark:text-primary-light transition-colors;
}

img {
  @apply w-full h-auto;
}

.sr-only {
  @apply absolute overflow-hidden whitespace-nowrap border-none w-0 h-0 p-0 -m-px;
}

.link {
  @apply relative text-font-dark dark:text-font-light hover:text-accent-light dark:hover:text-accent-dark transition-colors after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-[80%] after:h-px after:opacity-0 after:-translate-x-1/2 after:transition after:bg-accent-light dark:after:bg-accent-dark hover:after:opacity-100 hover:after:-translate-x-1/2 hover:after:translate-y-1 after:delay-200;
}

.flex-center {
  @apply flex items-center justify-center;
}

.image-overlay {
  @apply relative z-0 before:content-[''] before:bg-primary-light dark:before:bg-primary-dark before:absolute before:w-full before:h-full before:z-10 before:transition-colors before:mix-blend-color
}

#ghostery-tracker-tally {
  @apply hidden;
}

::-webkit-scrollbar {
  @apply w-4;

  &-track {
    @apply rounded-none;
  }

  &-thumb {
    @apply rounded-none bg-accent-light/20 dark:bg-accent-dark/20 hover:bg-accent-light/40 dark:hover:bg-accent-dark/40;
  }
}

.section-header {
  @apply relative text-center font-secondary text-heading mb-12 pb-8 after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-[40px] after:h-px after:block after:opacity-30 after:-translate-x-1/2 after:bg-font-dark dark:after:bg-font-light transition-colors;
}

.button {
  @apply relative flex flex-row items-center justify-center overflow-hidden font-secondary uppercase text-primary-dark dark:text-primary-light border border-transparent py-3 px-6 transition-all duration-500 outline-1 outline outline-accent-light/50 dark:outline-accent-dark/50 outline-offset-0 hover:outline-accent-light/0 dark:hover:outline-accent-dark/0 hover:outline-offset-[15px] hover:shadow-button hover:shadow-accent-light/50 dark:hover:shadow-accent-dark/50 text-button;
}

.social-link {
  @apply flex items-center justify-center w-7 h-7 p-1 hover:scale-110 hover:translate-y-2 transition-transform;

  svg {
    path {
      @apply stroke-font-dark dark:stroke-font-light transition-colors;
    }
  }

  &:hover {
    svg {
      path {
        @apply stroke-accent-light dark:stroke-accent-dark text-accent-light dark:text-accent-dark;
      }
    }
  }
}
