.footer {
  .socialLinks {
    position: static;
    top: unset;
    left: unset;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    transform: none;
    row-gap: unset;
    column-gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .socialLinks {
      display: none;
    }
  }
}