.footer {
  @include flex-center;
  flex-direction: column;
  padding: 50px 0 50px;

  &__separator {
    width: 18px;
    margin: 0 7px 15px 0;

    path {
      transition: stroke var(--transition-duration) var(--transition-timing-function);
      stroke: var(--font-color);
    }
  }

  .socialLinks {
    position: static;
    top: unset;
    left: unset;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    transform: none;
    row-gap: unset;
    column-gap: 40px;
  }

  &__copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    row-gap: 10px;
  }

  &__diamant {
    width: 13px;
    display: none;

    path {
      transition: stroke var(--transition-duration) var(--transition-timing-function);
      stroke: var(--font-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .socialLinks {
      display: none;
    }

    &__copyrights {
      flex-direction: row;
      row-gap: unset;
      column-gap: 20px;
    }

    &__diamant {
      display: block;
    }
  }
}