---
import { getCollection } from "astro:content";
import Icon from "astro-icon";
import { focusRing, hoverSquare } from "lib/tailwind";
import { twMerge } from "tailwind-merge";
import { directionByIndex } from "utils";

const socialLinks = await getCollection("social-link");
---

<footer class="flex flex-col items-center justify-center gap-3 sm:col-span-2 sm:flex-row sm:justify-between">
  <p class="text-sm">2023 &copy; Jakub Soboczyński</p>
  <ul class="flex gap-3">
    {
      socialLinks
        .sort((a, b) => a.data.sort - b.data.sort)
        .map(({ data: socialLink }, index) => (
          <li>
            <a
              class={twMerge("flex rounded-lg p-2 transition", hoverSquare(directionByIndex(index)), focusRing)}
              href={socialLink.link}
              target={socialLink.newTab ? "_blank" : "_self"}
              aria-label={socialLink.alt}
            >
              <Icon name={socialLink.icon} class="h-5 w-5 sm:h-6 sm:w-6" />
            </a>
          </li>
        ))
    }
  </ul>
</footer>
