---
const links = [
  {
    title: "About",
    href: "/",
  },
  {
    title: "Projects",
    href: "/projects",
  },
  {
    title: "Uses",
    href: "/uses",
  },
];

const { pathname } = Astro.url;
---

<aside class="flex-shrink-0 sm:sticky w-full sm:top-4">
  <nav class="flex flex-wrap items-center justify-between gap-3 sm:items-start sm:flex-col">
    <a class="py-1.5 px-3 self-center" href="/">
      <img src="/favicon-dark.svg" class="w-12 sm:w-14 sm:h-14 h-12" alt="logo" />
    </a>
    <ul class="flex gap-3 sm:flex-col">
      {
        links.map(({ title, href }, index) => (
          <li>
            <a
              class:list={[
                { "bg-slate-800": pathname === href },
                { "hover:before:translate-x-0 hover:before:translate-y-0 hover:before:scale-100": pathname !== href },
                { "before:-translate-y-5": index === 0 },
                { "before:-translate-x-10": index === 1 },
                { "before:translate-y-5": index === 2 },
                { "before:translate-x-10": index === 3 },
              ]}
              class="relative py-1.5 px-3 rounded-lg before:transition-transform before:rounded-lg before:absolute before:inset-0 before:bg-slate-700 before:duration-300 before:scale-0 before:-z-10"
              href={href}>
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
