
.link {
  background: linear-gradient(to right, var(--third-color), var(--third-color) 50%, var(--font-color) 50%) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  transition: background var(--transition-duration) var(--transition-timing-function);
  -webkit-text-fill-color: transparent;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    opacity: 0;
    background-color: var(--third-color);
    transform: translateX(-50%);
    transition: background var(--transition-duration) var(--transition-timing-function),
      transform var(--transition-duration) 0.5s var(--transition-timing-function),
      opacity var(--transition-duration) 0.5s var(--transition-timing-function);
  }

  @include hover {
    background-position: 0 100%;

    &:after {
      opacity: 1;
      transform: translateX(-50%) translateY(2px);
    }
  }
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 0 50px;
  }

  .container {
    padding: 0 50px;
  }
}
