---
import { SEO } from "astro-seo";

export type Props = {
  title: string;
  titleTemplate?: string;
  description: string;
  image: string;
};

const { title, titleTemplate = "%s | Jakub Soboczyński", description, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <SEO
      canonical={canonicalURL.href}
      charset="UTF-8"
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          url: canonicalURL.href,
          image: image,
        },
      }}
      title={title}
      titleTemplate={titleTemplate}
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
        image: image,
        creator: "@teziovsky",
      }}
      extend={{
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
        link: [
          {
            rel: "icon",
            type: "image/svg+xml",
            media: "(prefers-color-scheme: dark)",
            href: "/favicon-dark.svg",
          },
          {
            rel: "icon",
            type: "image/svg+xml",
            media: "(prefers-color-scheme: light)",
            href: "/favicon-light.svg",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
      }}
    />
  </head>
  <body class="bg-slate-50 dark:bg-slate-950 text-neutral-800 dark:text-neutral-200">
    <slot />
  </body>
</html>
